<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
  </PropertyGroup>
  <Target Name="RemovePortableSymbols" AfterTargets="Publish">
    <ItemGroup>
      <PortableSymbols Include="$(PublishDir)**\*.pdb" />
    </ItemGroup>
    <Delete Files="@(PortableSymbols)" />
  </Target>
</Project>
